h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
  }

  p, ul {
    background-color: grey;
  }

  p {
    font-weight: 600;
    font-size: 48px;
  }

  body {
    font-size: 16px;
  }